*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: JetBrains mono;
}
.conatiner{
    width: 500px;
    margin: auto;
}
.container-button{
    width: 30%;
    margin: auto;
    position: relative;
}
.container-button .btn{
    margin-top: 7rem;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 20px;
    border: none;
    background-color: rgb(43, 128, 226);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all ease 100ms;
}
.container-button .btn:hover{
    opacity: 0.95;
}